<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asoul.asasfans">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AsFansApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_beta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_beta"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsAsFans.Launch"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:icon,android:name,android:theme,android:allowBackup">


        <!--    <application-->
        <!--        android:allowBackup="true"-->
        <!--        android:icon="@mipmap/ic_launcher"-->
        <!--        android:label="@string/app_name"-->
        <!--        android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--        android:supportsRtl="true"-->
        <!--        android:theme="@style/Theme.AsAsFans"-->
        <!--        tools:replace="android:appComponentFactory"-->
        <!--        android:appComponentFactory="任意字符">-->


        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>